@import "./variables.scss";
@import "./modal.scss";

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header div.info {
    order: -1;

    h2 {
        color: #D3573C;
        font-size: 40px;
        margin-bottom: 1%;
    }

    div.localisation {
        color: #901C1C;
        font-size: 20px;
        margin-bottom: 7px;
    }
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.sort {
    margin: 0 100px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  
    > label {
      width: 50%;
      font-size: 1.1rem;
      font-weight: 900;
      margin-left: 40px;
    }
    > select {
      font-size: 0.8rem;
      font-weight: bold;
      color: white;
      padding: 10px;
      width: 100px;
      height: 40px;
      border: none;
      background-color: $red;
      border-radius: 5px;
      cursor: pointer;
      appearance: none;
      border: none;
    }
}


section#medias {
    margin: 100px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .price {
        font-size: 24px;
        color: $black;
        line-height: 31px;
        font-weight: 500;
        text-align: center;
        position: fixed;
        background-color: $orangeBis;
        width: 376px;
        height: 89px;
        border-radius: 5px;
        bottom: 0;
        right: 20px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    
        div {
            display: flex;
            align-content: center;
            align-items: center;
            padding-right: 40px;
    
            .total-likes {
                font-weight: 500;
                padding-right: 10px;
            }
            img {
                height: 24px;
                width: 24px;
                position: static;
            }
        }
    }

    a {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        &:link {
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
        }

        img, video {
            width: 350px;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
        }

        p {
            display: flex;
            align-content: space-between;
            width: 350px;
            font-size: 24px;
            line-height: 31px;
            color: $red;
            margin-top: 10px;
            margin-bottom: 10px;

            .title {
                font-weight: 400;
                flex: 1;
            }

            div {
                display: flex;
                align-content: center;
                align-items: center;

                .likes {
                    font-weight: 500;
                    padding-right: 10px;
                }
                img {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}
